 .btn {
                    -webkit-border-radius: 28;
                    -moz-border-radius: 28;
                    border-radius: 28px;
                    font-family: Arial;
                    color: #ffffff;
                    font-size: 18px;
                    background: #A6C307;
                    padding: 10px 20px 10px 20px;
                    text-decoration: none;
                }

                .btn:hover {
                    color: #ffffff;
                    background: #809410;
                    text-decoration: none;
                }